# Imports

In [1]:
import boto3
import pandas as pd
from io import StringIO

# Constants

In [2]:
BUCKET_NAME = "amazon-sagemaker-ai-by-example"
FILE_KEY = 'chicago_taxi_train.csv'

# Create dataFrame

In [4]:
def read_csv_from_s3(bucket_name, file_key):
    try:
        s3_client = boto3.client("s3")
        response = s3_client.get_object(Bucket=bucket_name, Key=file_key)
        csv_content = response["Body"].read().decode("utf-8")
        df = pd.read_csv(StringIO(csv_content))
        return df
    except Exception as e:
        print(f"Error reading CSV file from S3: {str(e)}")
        raise


training_df = read_csv_from_s3(BUCKET_NAME, FILE_KEY)
print('Read dataset completed successfully.')
print('Total number of rows: {0}\n\n'.format(len(training_df.index)))
training_df.head(200)

Read dataset completed successfully.
Total number of rows: 31694

,TRIP_START_TIMESTAMP,TRIP_END_TIMESTAMP,TRIP_START_HOUR,TRIP_SECONDS,TRIP_MILES,TRIP_SPEED,PICKUP_CENSUS_TRACT,DROPOFF_CENSUS_TRACT,PICKUP_COMMUNITY_AREA,DROPOFF_COMMUNITY_AREA,FARE,TIPS,TIP_RATE,TOLLS,EXTRAS,TRIP_TOTAL,PAYMENT_TYPE,COMPANY
0,05/17/2022 7:15:00 AM,05/17/2022 7:45:00 AM,7.25,2341,2.57,4.0,NaN,NaN,NaN,17.0,31.99,2.00,6.3,0.0,0.0,33.99,Mobile,Flash Cab
1,05/17/2022 5:15:00 PM,05/17/2022 5:30:00 PM,17.25,1074,1.18,4.0,NaN,1.703108e+10,NaN,8.0,9.75,3.00,27.9,0.0,1.0,14.25,Credit Card,Flash Cab
2,05/17/2022 5:15:00 PM,05/17/2022 5:30:00 PM,17.25,1173,1.29,4.0,1.703132e+10,1.703108e+10,32.0,8.0,10.25,0.00,0.0,0.0,0.0,10.25,Cash,Sun Taxi
3,05/17/2022 6:00:00 PM,05/17/2022 7:00:00 PM,18.00,3360,3.70,4.0,1.703132e+10,1.703124e+10,32.0,24.0,23.75,0.00,0.0,0.0,1.0,24.75,Cash,Choice Taxi Association
4,05/17/2022 5:00:00 PM,05/17/2022 5:30:00 PM,17.00,1044,1.15,4.0,1.703132e+10,1.703108e+10,32.0,8.0,10.00,0.00,0.0,0.0,0.0,10.00,Cash,Flash Cab
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,05/17/2022 5:45:00 PM,05/17/2022 6:00:00 PM,17.75,821,1.13,5.0,1.703108e+10,1.703108e+10,8.0,8.0,9.00,2.06,22.9,0.0,0.0,11.06,Mobile,Blue Ribbon Taxi Association
196,05/17/2022 11:45:00 PM,05/17/2022 11:45:00 PM,23.75,414,0.57,5.0,NaN,NaN,32.0,32.0,6.00,0.00,0.0,0.0,0.0,6.00,Cash,Flash Cab
197,05/17/2022 3:45:00 PM,05/17/2022 4:00:00 PM,15.75,886,1.22,5.0,1.703108e+10,1.703184e+10,8.0,8.0,9.00,0.00,0.0,0.0,0.0,9.00,Cash,City Service
198,05/17/2022 5:00:00 PM,05/17/2022 5:15:00 PM,17.00,1219,1.68,5.0,1.703183e+10,1.703108e+10,28.0,8.0,9.00,2.07,23.0,0.0,0.0,11.07,Mobile,Sun Taxi
199,05/17/2022 5:15:00 PM,05/17/2022 5:30:00 PM,17.25,515,0.71,5.0,1.703108e+10,1.703108e+10,8.0,8.0,6.50,2.00,18.2,0.0,4.5,13.50,Credit Card,Sun Taxi